.main-track__container {
  height: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 40px;
}

.main-track__image {
  height: 70%;
  width: auto;
  margin-right: 20px;
  border-radius: 16px;
  box-shadow: 1px 1px 10px #888888;
}

.main-track__content {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-track__title {
  font-size: 30px;
  font-weight: bold;
}

.main-track__subtitle {
  font-size: 18px;
  color: #5b5b5b;
}

.main-track__button {
  border: none;
  cursor: pointer;
  padding: 8px 30px;
  border-radius: 20px;
  font-size: 18px;
  font-family: inherit;
}

.main-track__button--play {
  background-color: var(--green);
  color: white;
  box-shadow: 1px 1px 10px var(--green);
}

.main-track__button--follow {
  border-color: var(--green);
  border-width: 1px;
  border-style: solid;
  color: var(--green);
  background-color: white;
  margin-left: 20px;
}

.main-track__button--follow:hover {
  cursor: not-allowed;
}

@media screen and (max-width: 992px) {
  .main-track__button--follow {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .main-track__container {
    margin-bottom: 40px;
  }

  .main-track__image {
    width: 30%;
    height: auto;
  }

  .main-track__button--play {
    width: 100%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 576px) {
  .main-track__container {
    margin-bottom: 20px;
    flex-direction: column;
    padding-top: 20px;
  }

  .main-track__image {
    width: 50%;
    height: auto;
    border-radius: 50%;
  }

  .main-track__button--play {
    display: none;
  }

  .main-track__title {
    font-size: 22px;
  }

  .main-track__subtitle {
    font-size: 18px;
  }

  .main-track__content {
    text-align: center;
    margin-top: 20px;
  }
}
