.content__container {
  display: flex;
  flex-direction: row;
  height: 70vh;
}

.content__main-results {
  flex: 0.6;
  height: 100%;
  padding-right: 10px;
}

.content__related-results {
  flex: 0.4;
  overflow: hidden;
}
