.player__container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.player__timer-container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player__timer-container:hover {
  cursor: not-allowed;
}

.player__volume-container {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player__info {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.player__info__description {
  display: flex;
}

.player__info__description__image {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 10px;
}

.player__info__description__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.player__info__description__track {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100px;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .player__timer-container {
    display: none;
  }

  .player__volume-container {
    width: 30%;
  }

  .player__info {
    width: 70%;
  }
}

@media screen and (max-width: 576px) {
  .player__volume-input {
    width: 70% !important;
  }
}
