:root {
  box-sizing: border-box;
  --green: #3cbc6e;
  --gray: #bcbcbc;
  --gray-2: #f4f4f4;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rajdhani', sans-serif;
  background-color: #d1d3df;
}

.fa-heart {
  color: #dedede;
}

.fa-play,
.fa-pause {
  color: #dedede;
}

.fa-solid {
  font-size: 10px;
}

.fa-regular {
  font-size: 18px;
}

.fa-magnifying-glass {
  font-size: 22px;
  color: #979797;
}

.fa-gear,
.fa-bell {
  font-size: 30px;
  color: #979797;
}
